@charset "UTF-8";

@import "./common.css";

section, div {
    margin: auto !important;
}

.header h2 {
    text-align: center;
}

.cta-div {
    align-items: center;
}

.cta-button {
    width: fit-content;
    display: block;
    margin: 20px auto;
}

.bounce {
    animation: bounce 2s infinite;
}

.shake {
    animation: shake 3s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
}

@keyframes shake {
    0%, 13%, 60%, 100% {
      transform: translateX(0);
    }
    2%, 6%, 10% {
      transform: translateX(-15px);
    }
    4%, 8%, 12% {
      transform: translateX(15px);
    }
}

.img-big {
    display: block;
}

.img-md,
.img-sm {
    display: none;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

.hero {
    height: 100svh;
    padding-bottom: 60px;
    background-color: #202020;
    background-image: url("../img/lp/checkered/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero .float-parent {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .float {
    margin: auto;
    text-align: center;
    border: none;
    background-color: transparent;
}

.hero h1,
.hero p {
    color: white;
}

.hero h1 {
    font-size: 3em !important;
}

.hero p {
    font-size: 1.5em !important;
}

.hero .arrow {
    width: 60px;
    height: 30px;
    padding: 0;
    margin: 0 auto;
}

.hero .arrow img {
    width: 100%;
    height: 100%;
}

@media (max-width: 767px) {
    .hero {
        background-image: url("../img/lp/checkered/hero-mobile.jpg");
    }
}

/*--------------------------------------------------------------
# Description
--------------------------------------------------------------*/

.description .item {
    padding: 80px 10vw;
}

.description .odd {
    padding-right: 5vw;
}

.description .even {
    padding-left: 5vw;
}

.description .text {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description .header {
    margin: auto;
    padding: 0 2vw;
    width: fit-content;
    height: fit-content;
}

.description .header p {
    margin-bottom: 0;
}

.description .picture {
    padding: 0;
}

.description img {
    width: 100%;
    height: auto;
}

@media (max-width: 991px) {
    .img-bg,
    .img-sm {
        display: none;
    }
    .img-md {
        display: block;
    }

    .description,
    .description .item {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (max-width: 767px) {
    .img-bg,
    .img-md {
        display: none;
    }
    .img-sm {
        display: block;
    }

    .description .item {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .description .first-div {
        padding-bottom: 40px;
    }
    .description .header {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0;
    }
}